.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard-container h1 {
  width: 100%;
  font-size: 2rem;
  padding: 30px;
  color: #333;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  gap: 10px;

}
