.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  text-align: center;
}

.dashboard-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.dashboard-nav {
  display: flex;
  width: 500px;
  gap: 10px;
  margin-bottom: 20px;
}
