
html, body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /* Estilos del contenedor padre sidebar */
  .main-layout {
    display: flex;
    height: 100vh;
  }
  
  /* Estilos del sidebar */
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #363a45;
    width: 70px; 
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
    transition: width 0.3s ease-in-out
  }
  
  nav:hover {
    width: 250px;
  }
  
  /* Estilos del primer bloque del sidebar: datos usuario */
  .logo-react {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3px;
    margin-bottom: 25px;
  }

  nav:hover .logo-react {
    justify-content: flex-start; 
  }
  
  nav img {
    width: 2rem;
    margin: 15px 18px; 
    transition: width 0.8s ease-in-out;
  }
  
  .logo-text {
    display: none;
    margin-left: 10px;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity .8s ease-in;
  }
  
  nav:hover .logo-text {
    display: inline;
    opacity: 1;
  }

  /* Estilos del segundo bloque del sidebar: enlaces del sidebar */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  nav li {
    display: flex;
    align-items: center;
    padding: 3px 0;
    width: 100%;
  }
  
  nav li a i {
    font-size: 1.1rem;
    width: 10px;
    height: 18px;
    text-align: center;
  }

  .logout-container li a,
  nav li a {
    width: 100%; 
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 12px 27px;
    justify-content: left;
    gap: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  nav li a{
    font-size: .9rem;
  }

  .nav-link{
    padding: 0;
    margin: 0;
  }

  nav li a:hover,
  .nav-link-dropdown:hover,
  .logout-container li a:hover {
    background-color: #4a4f5a;
}

  nav:hover li a {
    justify-content: flex-start;
  }
  
  nav li a span {
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  nav:hover li a span {
    display: inline;
    opacity: 1;
  }
  
  .nav-active {
    color: #5fb8d3; 
  }
  
  .nav-item {
    position: relative; 
  }

/* Estilos del enlace con dropdown */
  .nav-link-dropdown {
    width: 100%; 
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 27px;
    justify-content: left;
    gap: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .nav-link-dropdown i{
    height: 18px;
    font-size: 1.1rem;
    justify-content: space-between;
  }

  .nav-link-dropdown span{
    font-size: .9rem;
    margin-left: -5px;
  }

  .nav-link-dropdown .arrow {
    margin-left: auto; 
    transition: transform 0.3s ease-in-out;
  }

  .rotate {
    transform: rotate(180deg);
  }
  
  .nav-link-dropdown span,
  .nav-link-dropdown .arrow {
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  nav:hover .nav-link-dropdown span,
  nav:hover .nav-link-dropdown .arrow {
    display: inline;
    opacity: 1;
  }
  
  .nav-link-dropdown:hover {
    background-color: #4a4f5a;
    border-radius: 5px;
  }

  .nav-link-dropdown.nav-active {
    color: #5fb8d3; 
  }
  
  .submenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #444;
    width: 100%;
    overflow: hidden;
    background: rgba(102, 102, 102, 0.692); 
    backdrop-filter: blur(7px); 
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
  }
  
  .submenu.open {
    display: block;
  }

  .submenu li{
    margin: 0;
    padding: 0;
  }
  
  .submenu li a {
    display: block;
    color: white;
    padding: 13px 0px 13px 30px;
    font-size: 0.85rem;
    text-decoration: none;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
  }

  .logout-container {
    margin-top: auto; 
    padding-top: 15px;
    padding-bottom: 19px;
    width: 100%;
    text-align: center;
  }

  /* Estilos del contenido */
  .content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }

 

